h2 {
  color: transparent;
  background-image: url("https://images.unsplash.com/photo-1602851519564-ab7b91239f1b?ixid=MXwxMjA3fDB8MHxwaG90by1vZi10aGUtZGF5fHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&dpr=1&auto=format%2Ccompress&fit=crop&w=1399&h=594");
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 200px;
}
