* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.box {
  color: #fff;
  position: relative;
}

.bg-content {
  position: relative;
  min-height: 600px;
  background-image: url("https://images.unsplash.com/photo-1602851519564-ab7b91239f1b?ixid=MXwxMjA3fDB8MHxwaG90by1vZi10aGUtZGF5fHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&dpr=1&auto=format%2Ccompress&fit=crop&w=1399&h=594");
  background-color: rgba(0, 0, 0, 0.4);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  /* filter: sepia(1) saturate(2); */
  filter: saturate(2);
  margin: auto;
}
