* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  --default-margin: 20px;
}

body {
  margin: var(--default-margin);
}

button {
  cursor: pointer;
}

ol,
ul {
  list-style: none;
}

ul {
  background-color: #d0d0df;

  li:first-of-type {
    background-color: red;
  }

  li + li {
    color: teal;
  }
}

.block {
  padding: 15px;
  height: 40px;
  background-color: teal;

  display: flex;

  > header {
    color: red;
  }

  > section {
    background-color: green;
  }

  > footer {
    color: blue;
  }
}
