* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: initial;
}

body {
  font-family: "Graphik Webfont", -apple-system, BlinkMacSystemFont, "Roboto",
    "Droid Sans", "Segoe UI", "Helvetica", Arial, sans-serif;
}

button {
  cursor: pointer;
}

main > section > div,
header > div,
nav {
  max-width: 1320px;
  margin: auto;
}

header {
  width: 100%;
  font-size: 1.4rem;
  padding: 1rem 0 1.5rem;
  position: sticky;
  top: 0;
  background-color: white;
}

header img {
  float: left;
}

header > div a {
  padding: 8px 12px;
  border-radius: 9999px;
  transition: background 0.2s ease-in-out;
  transition: background 200ms ease-in-out;
}

header > div a:hover {
  background-color: rgba(34, 34, 34, 0.15);
}

header > nav {
  clear: both;
}

header form#search-box {
  display: inline-block;
  width: 80%;
  margin: 0 8px 0 6px;
}

header form#search-box input {
  width: 100%;
  height: 32px;
  border: 1px solid rgba(34, 34, 34, 0.15);
  outline: none;
  padding: 2.2rem;
  font-size: 1.6rem;
  border-radius: 24px;
  background-color: rgba(34, 34, 34, 0.1);
}

.categories-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 12px 0;
}

header .product-categories img {
  border-radius: 50%;
}

.product-categories {
  padding: 15px 0;
}

.product-categories h1 {
  text-align: center;
  font-size: 28px;
  font-weight: 300;
}

.product-categories h3 {
  font-size: 18px;
  text-align: center;
  margin: 18px 0;
  font-weight: 500;
}

.product-categories .category {
  text-align: center;
}

.product-categories .category img {
  border-radius: 50%;
}

.product-categories .category button {
  margin: 15px 0 0 0;
  border: none;
  background-color: transparent;
  cursor: url(http://www.javascriptkit.com/dhtmltutors/cursor-hand.gif), auto;
}

.product-categories .category button i {
  transition: 0.2s ease-in-out;
  transform: translateX(4px);
}

.product-categories .category:hover button i {
  transform: translateX(10px);
}

main .category {
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media (max-width: 1180px) {
  .category {
    flex-basis: 33.33%;
  }
}

ul {
  list-style: none;
}

nav {
  margin: 0 auto 1.5rem;
}

nav > ul {
  display: flex;
  justify-content: space-between;
}

ul.category-links {
  /* text-align: left; */
}

ul.category-links li {
  display: inline-block;
}

main > section.product-categories {
  background-color: #ddebe3;
}
